<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="MyDemoBoot">
	<display-name>MyDemoBoot</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- OAuth2 -->
	<!--
	<servlet>  
		<servlet-name>oauth2Servlet</servlet-name>  
		<servlet-class>com.wptx.weixin.oauth2.OAuth2Servlet</servlet-class>  
	</servlet>  
	<servlet-mapping>  
		<servlet-name>oauth2Servlet</servlet-name>  
		<url-pattern>/oauth2Servlet</url-pattern>  
	</servlet-mapping>
	-->
	
</web-app>
